<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852444461401-pub381ncb08h9r5bf1lsj0vg09spg99i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852444461401-pub381ncb08h9r5bf1lsj0vg09spg99i</string>
	<key>API_KEY</key>
	<string>AIzaSyDJjI61kFS6irnuJXkgqiCQZW8g35ClkFo</string>
	<key>GCM_SENDER_ID</key>
	<string>852444461401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raykrishardi.Flash-Chat-2</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-2-48e13</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-2-48e13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852444461401:ios:feadd2fca8247157</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-2-48e13.firebaseio.com</string>
</dict>
</plist>